# 예제 1-6 행 인덱스/열 이름 변경

In [1]:
import pandas as pd

### 행 인덱스/열 이름 지정하여 데이터프레임 만들기

In [3]:
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                 index = ['준서', '예은'],
                 columns= ['나이', '성별', '학교'])

### 데이터프레임 df 출력

In [4]:
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

### 열 이름 중 '나이'를 '연령으로, '성별'을 '남녀'로,<br>'학교'를 '소속'으로 바꾸기

In [6]:
df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'},
         inplace = True)

inplace = True 옵션을 추가하면 원본 객체를 직접 수정한다.<br>(새로운 데이터프레임 객체를 반환하지 않음)

### df의 행 인덱스 중에서 '준서'를 '학생1'로,<br> '예은'을 '학생2'로 바꾸기

In [7]:
df.rename(index={'준서':'학생1', '예은':'학생2'},
         inplace = True)

### df 출력(변경 후)

In [8]:
print(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

# 예제 1-7 행 삭제

In [9]:
import pandas as pd

### DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

In [10]:
exam_data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
            '음악': [85, 95, 100], '체육': [100, 90 ,90]}

In [11]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])

In [12]:
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

### df를 복제하여 df2에 저장, df2의 1개 행 삭제

In [13]:
df2 = df[:]

In [14]:
df2.drop('우현', inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [15]:
print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

### df를 복제하여 df3에 저장, df3의 2개 행 삭제

In [16]:
df3 = df[:]

In [17]:
df3.drop(['우현', '인아'], axis=0, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

axis = 0은 행을 의미(디폴트)

In [18]:
print(df3)

    수학  영어  음악   체육
서준  90  98  85  100

# 예제 1-8 열 삭제

In [ ]:
impoer pandas as pd

### DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

In [10]:
exam_data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
            '음악': [85, 95, 100], '체육': [100, 90 ,90]}

In [11]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])

In [12]:
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

### df를 복제하여 df4에 저장, df4의 1개 열 삭제

In [19]:
df4 = df[:]

In [20]:
df4.drop('수학', axis= 1, inplace= True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [21]:
print(df4)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

열을 삭제시에는 axis=1로 설정해야 한다.

### df를 복제하여 df5에 저장, df5의 2개 열 삭제

In [22]:
df5 = df[:]

In [23]:
df5.drop(['영어', '음악'], axis= 1, inplace= True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [24]:
print(df5)

    수학   체육
서준  90  100
우현  80   90
인아  70   90

# 예제 1-9 행 선택

In [25]:
import pandas as pd

### DataFrame() 함수로 데이터프레임 변환, df에 저장

In [26]:
exam_data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
            '음악': [85, 95, 100], '체육': [100, 90, 90]}

In [27]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])

In [28]:
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

### 행 인덱스를 사용하여 행 1개 선택

In [33]:
label1 = df.loc['서준']

loc은 인덱스 이름을 입력받고, iloc은 정수형 위치 인덱스를 받는다.

In [30]:
position1 = df.iloc[0]

In [31]:
print(label1)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [34]:
print(position1)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

결과값에 차이가 없다.

### 행 인덱스를 사용하여 2개 이상의 행 선택

In [35]:
label2 = df.loc[['서준', '우현']]

In [36]:
position2 = df.iloc[[0, 1]]

In [37]:
print(label2)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [38]:
print(position2)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

### 행 인덱스의 범위를 지정하여 행 선택

In [39]:
label3 = df.loc['서준':'우현']

In [40]:
position3 = df.iloc[0:1]

In [41]:
print(label3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [42]:
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100

label3는 마지막 값을 포함하지만 정수형 위치 인덱스를 사용한 position3에는 마지막 값이 포함되지 않음

# 예제1-10 열 선택

In [43]:
import pandas as pd

### DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

In [47]:
exam_data = {'이름': ['서준', '우현', '인아'],
            '수학': [90, 80, 70],
            '영어': [98, 89, 95],
            '음악': [85, 95, 100],
            '체육': [100, 90, 90]}

In [48]:
df = pd.DataFrame(exam_data)

In [49]:
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [51]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### '수학' 점수 데이터만 선택, math1에 저장

In [53]:
math1 = df['수학']

In [54]:
print(math1)

0    90
1    80
2    70
Name: 수학, dtype: int64

In [55]:
print(type(math1))

<class 'pandas.core.series.Series'>

### '영어' 점수 데이터만 선택, english에 저장

In [56]:
english = df.영어

In [57]:
print(english)

0    98
1    89
2    95
Name: 영어, dtype: int64

In [58]:
print(type(english))

<class 'pandas.core.series.Series'>

### '음악', '체육' 점수 데이터를 선택 , music_gym에 저장

In [59]:
music_gym = df[['음악', '체육']]

In [60]:
print(music_gym)

    음악   체육
0   85  100
1   95   90
2  100   90

In [61]:
print(type(music_gym))

<class 'pandas.core.frame.DataFrame'>

### '수학' 점수 데이터만 선택, math2에 저장

In [62]:
math2 = df[['수학']]

In [63]:
print(math2)

   수학
0  90
1  80
2  70

In [64]:
print(type(math2))

<class 'pandas.core.frame.DataFrame'>

이중대괄호를 사용할 경우 열 이름 1개를 원소로 갖는 리스트를 사용해도 시리즈가 아닌 데이터프레임을 반환한다.