# 예제 1-16 특정 열을 행 인덱스로 설정

In [1]:
import pandas as pd

### DataFrame() 함수를 데이터프레임 변환, 변수 df에 저장

In [2]:
exam_data = {'이름': ['서준', '우현', '인아'],
            '수학': [90, 80, 70],
            '영어': [98, 89, 95],
            '음악': [85, 95, 100],
            '체육': [100, 90, 90]}
df = pd.DataFrame(exam_data)
df

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

### 특정 열을 데이터프레임의 행 인덱스로 설정

In [7]:
ndf = df.set_index(['이름'])
ndf

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

대괄호 안에 묶어서 사용한 경우

In [8]:
ndf2 = df.set_index('음악')
ndf2

     이름  수학  영어   체육
음악
85   서준  90  98  100
95   우현  80  89   90
100  인아  70  95   90

대괄호 없이 작은 따옴표로 묶은 경우

In [10]:
ndf3 = ndf.set_index(['수학', '음악'])
ndf3

        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

인덱스를 두개로 묶을 경우

### 예제 1-17 새로운 배열로 행 인덱스 재지정

In [13]:
import pandas as pd

### 딕셔너리 정의

In [14]:
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9],
            'c3': [10,11,12], 'c4':[13,14,15]}

### 딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0, r1, r2]로 지정

In [21]:
df = pd.DataFrame(dict_data, index= ['r0','r1','r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

### 인덱스를 [r0, r1, r2, r3, r4]로 재지정

In [22]:
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']

In [26]:
ndf = df.reindex(new_index)
ndf

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

NaN 은 Not a Number의 줄임말로, 유효한 값이 존재하지 않는 누락 데이터를 의미

### reindex로 발생한 NaN값을 숫자 0으로 채우기

In [27]:
ndf2 = df.reindex(new_index, fill_value = 0)
ndf2

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

fill_value = 0을 통해 결측치를 0으로 채운 모습이다.

# 예제 1-18 정수형 위치 인덱스로 초기화

In [28]:
import pandas as pd

### 딕셔너리 정의

In [14]:
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9],
            'c3': [10,11,12], 'c4':[13,14,15]}

### 딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0, r1, r2]로 지정

In [29]:
df = pd.DataFrame(dict_data, index= ['r0', 'r1', 'r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

### 행 인덱스를 정수형으로 초기화

In [30]:
ndf = df.reset_index()
ndf

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

인덱스가 열로 이동한 모습

# 예제 1-19 데이터프레임 정렬

In [31]:
import pandas as pd

### 딕셔너리 정의

In [32]:
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9],
            'c3': [10,11,12], 'c4':[13,14,15]}

### 딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0, r1, r2]로 지정

In [33]:
df = pd.DataFrame(dict_data, index= ['r0', 'r1', 'r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

### 내림차순으로 행 인덱스 정렬

In [34]:
ndf = df.sort_index(ascending= False)
ndf

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

# 열 기준 정렬

In [35]:
import pandas as pd

### 딕셔너리 정의

In [32]:
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9],
            'c3': [10,11,12], 'c4':[13,14,15]}

### 딕셔너리를 데이터프레임으로 변환, 인덱스를 [r0, r1, r2]로 지정

In [33]:
df = pd.DataFrame(dict_data, index= ['r0', 'r1', 'r2'])
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

### c1 열을 기준으로 내림차순 정렬

In [36]:
ndf = df.sort_values(by ='c1', ascending= False)
ndf

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [37]:
ndf = df.sort_values(by ='c1')
ndf

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

정렬의 디폴트 값은 오름차순임을 알 수 있다.