# 예제1-1 딕셔너리 -> 시리즈 변환

### pandas 불러오기

In [5]:
import pandas as pd

### key:value 쌍으로 딕셔너리 만들고, 변수에 저장

In [3]:
dict_data = {'a': 1, 'b': 2, 'c': 3}

### 판다스 Series() 함수로 딕셔너리 시리즈로 변환 후 변수에 저장

In [4]:
sr = pd.Series(dict_data)

### sr의 자료형 출력

In [5]:
print(type(sr))

<class 'pandas.core.series.Series'>

### 변수에 저장되어 있는 시리즈 객체 출력

In [6]:
print(sr)

a    1
b    2
c    3
dtype: int64

# 예제 1-2 시리즈 인덱스

### 리스트를 시리즈로 변환하여 변수 sr에 저장

In [7]:
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]

In [8]:
sr = pd.Series(list_data)

In [9]:
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

### 인덱스 배열은 idx에 저장, 데이터 값 배열은 val에 저장

In [10]:
idx = sr.index

In [11]:
val = sr.values

In [12]:
print(idx)

RangeIndex(start=0, stop=5, step=1)

In [13]:
print(val)

['2019-01-02' 3.14 'ABC' 100 True]

# 예제1-3 시리즈 원소 선택

### 튜플을 시리즈로 변환(인덱스 옵션 지정)

In [6]:
tup_data = ('영인', '2010-05-01', '여', True)

In [7]:
sr = pd.Series(tup_data, index= ['이름', '생년월일', '성별', '학생여부'])

In [8]:
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

### 원소를 1개 선택

In [9]:
print(sr[0]) # sr의 1번째 원소를 선택(정수형 위치 인덱스)

영인

In [10]:
print(sr['이름']) #'이름' 라벨을 가진 원소를 선택(인덱스 이름)

영인

### 여러개의 원소를 선택(인덱스 리스트 활용)

In [11]:
print(sr[[1, 2]])

생년월일    2010-05-01
성별               여
dtype: object

In [13]:
print(sr[['생년월일','성별']])

생년월일    2010-05-01
성별               여
dtype: object

### 여러개의 원소를 선택(인덱스 범위 지정)

In [14]:
print(sr[1: 2])

생년월일    2010-05-01
dtype: object

In [16]:
print(sr['생년월일':'성별'])

생년월일    2010-05-01
성별               여
dtype: object

sr[1:2] 에서 정수형 위치 인덱스를 사용할 때는 범위의 끝이 포함되지 않음(성별 미포함)

# 딕셔너리 -> 데이터프레임 변환

In [17]:
import pandas as pd

#### 열이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)

In [18]:
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 
             'c3':[10,11,12], 'c4':[13,14,15]}

#### 판다스 DataFrame() 함수로 딕셔너리를 데이터 프레임으로 변환 후 변수 df에 저장

In [19]:
df = pd.DataFrame(dict_data)

#### df의 자료형 출력

In [21]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

#### 변수 df에 저장되어 있는 데이터프레임 객체를 출력

In [22]:
print(df)

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

# 예제 1-5 행 인덱스/열 이름 설정

In [23]:
import pandas as pd

### 행 인덱스/열 이름 지정하여 데이터프레임 만들기

In [24]:
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                 index= ['준서','예은'],
                 columns= ['나이', '성별', '학교'])

### 행 인덱스, 열 이름 확인하기

In [25]:
print(df) #데이터프레임

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [28]:
print(df.index) #행 이름

Index(['준서', '예은'], dtype='object')

In [27]:
print(df.columns) #열 이름

Index(['나이', '성별', '학교'], dtype='object')

### 행 인덱스, 열 이름 변경하기

In [29]:
df.index = ['학생1', '학생2']

In [30]:
df.columns = ['연령', '남녀', '소속']

In [31]:
print(df) #데이터프레임

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [32]:
print(df.index) #행 이름

Index(['학생1', '학생2'], dtype='object')

In [33]:
print(df.columns) #열 이름

Index(['연령', '남녀', '소속'], dtype='object')