# 예제 2-6 생략

# 예제 2-7 CSV 파일로 저장

In [1]:
import pandas as pd

### 판다스 DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

In [3]:
data = {'name': ['Jerry', 'Riah', 'Paul'],
       'algol': ["A", "A+", "B"],
       'basic': ['C','B','B+'],
       'c++': ['B+', 'C', 'C+']}

In [4]:
df = pd.DataFrame(data)

In [5]:
df.set_index('name', inplace=True)
df

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

###  to_csv() 메소드를 사용하여 csv 파일로 내보내기

In [6]:
df.to_csv("./df_sample.csv")

# 예제 2-8 JSON 파일로 저장

In [7]:
import pandas as pd

### 판다스 DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

In [3]:
data = {'name': ['Jerry', 'Riah', 'Paul'],
       'algol': ["A", "A+", "B"],
       'basic': ['C','B','B+'],
       'c++': ['B+', 'C', 'C+']}

In [4]:
df = pd.DataFrame(data)

In [5]:
df.set_index('name', inplace=True)
df

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

### to_json() 메소드를 사용하여 JSON 파일로 내보내기

In [8]:
df.to_json("./df_sample.json")

# 예제 2-9 excel 파일로 저장

In [9]:
df.to_excel("./df_sample.xlsx")

# 예제 2-10 ExcelWriter() 활용

In [10]:
import pandas as pd

### 판다스 DataFrame() 함수로 데이터프레임 변환, df1, df2에 저장

In [11]:
data1 = {'name': ['Jerry', 'Riah', 'Paul'],
       'algol': ["A", "A+", "B"],
       'basic': ['C','B','B+'],
       'c++': ['B+', 'C', 'C+']}

In [13]:
data2 = {'c0': [1, 2, 3],
        'c1': [4, 5, 6],
        'c2': [7, 8, 9],
        'c3': [10, 11, 12],
        'c4': [13, 14, 15]}

In [14]:
df1 = pd.DataFrame(data1)

In [15]:
df1.set_index('name', inplace=True)
df1

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [16]:
df2 = pd.DataFrame(data2)

In [18]:
df2.set_index('c0', inplace=True)
df2

    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15

### df1을 sheet1으로, df2를 sheet2로 저장

In [19]:
writer = pd.ExcelWriter('./df_excelwriter.xlsx')

In [20]:
df1.to_excel(writer, sheet_name= 'sheet1')
df2.to_excel(writer, sheet_name= 'sheet2')

In [21]:
writer.save()