# 예제 6-1 시리즈의 원소에 apply() 적용

In [1]:
import seaborn as sns

### titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기

In [2]:
titanic = sns.load_dataset('titanic')

In [4]:
df = titanic.loc[:, ['age', 'fare']]
df.head()

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [5]:
df['ten'] = 10
df.head()

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10
3  35.0  53.1000   10
4  35.0   8.0500   10

### 사용자 함수 정의

In [7]:
def add_10(n):    # 10을 더하는 함수
    return n + 10
def add_two_obj(a, b):    # 두 객체의 합
    return a + b

In [8]:
add_10(10)

20

In [9]:
add_two_obj(10, 10)

20

### 시리즈 객체에 적용

In [10]:
sr1 = df['age'].apply(add_10)
sr1.head()

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64

age 열에 add_10 함수를 매핑해 모든 원소에 숫자 10을 더한다.

### 시리즈 객체와 숫자에 적용: 2개의 인수(시리즈 + 숫자)

In [14]:
sr2 = df['age'].apply(add_two_obj, b=10) # a=df['age']의 모든 원소
sr2.head()

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64

함께 전달된 숫자 (b=10)을 모든 원소에 더한다.

### lambda 함수 활용: 시리즈 객체에 적용

In [13]:
sr3 = df['age'].apply(lambda x: add_10(x)) # x=df['age']
sr3.head()

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64

# 예제 6-2 데이터프레임 원소에 applymap() 적용

### 데이터프레임에 applymap()으로 add_10() 매핑 적용

In [15]:
df_map = df.applymap(add_10)
df_map.head()

    age     fare  ten
0  32.0  17.2500   20
1  48.0  81.2833   20
2  36.0  17.9250   20
3  45.0  63.1000   20
4  45.0  18.0500   20

# 예제 6-3 데이터프레임에 apply(axis=0적용)

### 사용자 함수 정의

In [16]:
def missing_value(series):
    return series.isnull()

### 데이터프레임의 각 열을 인자로 전달하면 데이터 프레임 반환

In [17]:
result = df.apply(missing_value, axis=0)
result.head()

     age   fare    ten
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False

axis=0 옵션의 경우는 디폴트로 따로 설정하지 않아도 된다.

# 예제 6-4 데이터프레임에 apply(axis=0 적용)

In [20]:
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age', 'fare']]
df.head()

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

### 사용자 함수 정의

In [21]:
def min_max(x):
    return x.max() - x.min()

### 데이터프레임의 각 열을 인자로 전달하면 시리즈로 반환

In [22]:
result = df.apply(min_max)
result

age      79.5800
fare    512.3292
dtype: float64

### 데이터프레임에 apply() 적용

In [25]:
df['ten'] = 10

### 사용자 함수 정의

In [23]:
def add_two_obj(a, b):
    return a + b

### 데이터프레임의 2개 열을 선택하여 적용

In [28]:
# x=df, a=df['age'], b=df['fare']
df['add'] = df.apply(lambda x: add_two_obj(x['age'], x['ten']), axis=1)
df.head()

    age     fare  ten   add
0  22.0   7.2500   10  32.0
1  38.0  71.2833   10  48.0
2  26.0   7.9250   10  36.0
3  35.0  53.1000   10  45.0
4  35.0   8.0500   10  45.0

###

###

###

###

###