# 예제 7-6 Decision Tree 모형

### 기본 라이브러리 불러오기

In [1]:
import pandas as pd
import numpy as np

## Step 1 데이터 준비/기본 설정

### Breast Cancer 데이터셋 가져오기<br> (출처: UCI ML Repository)

In [5]:
uci_path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data'

In [6]:
df = pd.read_csv(uci_path, header=None)

### 열 이름 지정

In [7]:
df.columns = ['id', 'clump', 'cell_size', 'cell_shape', 'adhension', 'epithlial',
             'bare_nuclei', 'chromatin', 'normal_nucleoli', 'mitoses', 'class']

## Step 2 데이터 탐색

### 데이터 살펴보기

In [8]:
df.head()

,id,clump,cell_size,cell_shape,adhension,epithlial,bare_nuclei,chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

### 데이터 자료형 확인

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               699 non-null    int64
 1   clump            699 non-null    int64
 2   cell_size        699 non-null    int64
 3   cell_shape       699 non-null    int64
 4   adhension        699 non-null    int64
 5   epithlial        699 non-null    int64
 6   bare_nuclei      699 non-null    object
 7   chromatin        699 non-null    int64
 8   normal_nucleoli  699 non-null    int64
 9   mitoses          699 non-null    int64
 10  class            699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 57.4+ KB

bare_nuclei 열만 object임을 알 수 있다.

### 데이터 통계 요약 정보 확인

In [10]:
df.describe()

,id,clump,cell_size,cell_shape,adhension,epithlial,chromatin,normal_nucleoli,mitoses,class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

### bare_nuclei 열의 자료형 변경(문자열 -> 숫자)

In [11]:
df['bare_nuclei'].unique()

array(['1', '10', '2', '4', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

'?'가 포함되어 있음을 알 수 있다. 이를 np.nan으로 바꾸고 dropna()메소드로 전부 삭제한다. 후에 자료형을 int로 변환한다.

In [13]:
df['bare_nuclei'].replace('?', np.nan, inplace=True)
df.dropna(subset=['bare_nuclei'], axis=0, inplace=True)
df['bare_nuclei'] = df['bare_nuclei'].astype('int')

In [15]:
df.describe()

,id,clump,cell_size,cell_shape,adhension,epithlial,bare_nuclei,chromatin,normal_nucleoli,mitoses,class
count,6.830000e+02,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,1.076720e+06,4.442167,3.150805,3.215227,2.830161,3.234261,3.544656,3.445095,2.869693,1.603221,2.699854
std,6.206440e+05,2.820761,3.065145,2.988581,2.864562,2.223085,3.643857,2.449697,3.052666,1.732674,0.954592
min,6.337500e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.776170e+05,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171795e+06,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238705e+06,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

데이터의 개수가 683개로 줄고 bare_nuclei열도 잘 출력된다.

## 데이터셋 구분 - 훈련용/검증용

### 속성 선택

In [16]:
X = df[['clump', 'cell_size', 'cell_shape', 'adhension', 'epithlial',
       'bare_nuclei', 'chromatin', 'normal_nucleoli', 'mitoses']]
y = df['class']

### 설명 변수 데이터 정규화

In [17]:
from sklearn import preprocessing

In [18]:
X = preprocessing.StandardScaler().fit(X).transform(X)

### train data와 test data로 구분

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                   random_state=10)

In [22]:
print('train data: ', X_train.shape)
print('test data: ', X_test.shape)

train data:  (478, 9)
test data:  (205, 9)

## Step 4 Decision Tree 분류 모형 - sklearn 사용

### sklearn 라이브러리에서 Decision Tree 분류 모형 가져오기

In [23]:
from sklearn import tree

### 모형 객체 생성(criterion = 'entropy' 적용)

In [24]:
tree_model = tree.DecisionTreeClassifier(criterion='entropy', max_depth=5)

### train data를 가지고 모형 학습

In [25]:
tree_model.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

### test data를 가지고 y_hat 예측(분류)

In [28]:
y_hat = tree_model.predict(X_test) # 2: 양성, 4: 악성

In [29]:
print(y_hat[0:10])
print(y_test.values[0:10])

[4 4 4 4 4 4 2 2 4 4]
[4 4 4 4 4 4 2 2 4 4]

### 모형 성능 평가 - Confusion Matrix 계산

In [30]:
from sklearn import metrics

In [31]:
tree_matrix = metrics.confusion_matrix(y_test, y_hat)
tree_matrix

array([[127,   4],
       [  2,  72]], dtype=int64)

### 모형 성능 평가 - 평가 지표 계산

In [32]:
tree_report = metrics.classification_report(y_test, y_hat)
print(tree_report)

              precision    recall  f1-score   support

           2       0.98      0.97      0.98       131
           4       0.95      0.97      0.96        74

    accuracy                           0.97       205
   macro avg       0.97      0.97      0.97       205
weighted avg       0.97      0.97      0.97       205